<div class="findUsView">
    <section class="findUsSection">

        <div class="row">
            <div class="findUsPanel">
                <div class="col">

                    <div class="row findUsHeadingRow">
                        <div class="col-md-12 findUsHeadingCol">
                            <div class="findUsPanelTitle">
                                <h2>Find Us</h2>                        
                            </div>
                        </div>
                    </div>

                    <div class="map">
                        <!--a href="https://www.google.co.uk/maps/place/Nottingham+NG13+9EX/@52.9482481,-0.8981431,11.94z/data=!4m5!3m4!1s0x4879cc1fe7ae8327:0x12106d16467da62b!8m2!3d52.936347!4d-0.8962071">Find Us</a-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80102.53568621249!2d-0.8981430843912872!3d52.94824811597402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879cc1fe7ae8327%3A0x12106d16467da62b!2sNottingham+NG13+9EX!5e0!3m2!1sen!2suk!4v1474979162413"  frameborder="0" width="600" height="450" style="border:0" allowfullscreen>Find Us</iframe>
                        <!--width="600" height="450"-->
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>