.maintNews {
    min-height: 720px;              /* Forces footer to the bottom of the page */ 
    background-color: #060050;   
}

section.sectionMaintNews {
    padding: 20px 0px;
}

section.sectionMaintNews h2 {
    margin-bottom: 20px;
}


/* --------------------------------------------------------------*/
/* The Panel */
/* --------------------------------------------------------------*/

.maintNewsPanel {      
    width: 80%;
    margin: 0 auto;
    min-width: 290px;
}

.maintNewsForm {
    background-color: #f4f4f4;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: solid 1px #a6a6aa;
    min-width: 280px;
}

.maintNewsForm .input-group {
    width: 100%;
    padding-bottom: 20px;
    font-size: 80%;
    color: #000;
    font-weight: 400;
}

.maintNewsForm .input-group .form-control {
    font-size: 80%;
    font-weight: 400;
    color:#000;
}

.newsDescription textarea {
    height: 100px;
}

.newsDescription {
    padding-bottom: 0px;
}

/* --------------------------------------------------------------*/
/* WARNING PANEL */
/* --------------------------------------------------------------*/

.warningPanel,
.validationPanel {
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 15px; 
}


/* -------  Small phones to small tablets 481px to 767px  -------*/
@media only screen and (max-width: 767px) {

    .maintNewsPanel {width: 95%;}

    .maintNewsForm { width: 95%; }
}