.mainNews {
    min-height: 720px;              /* Forces footer to the bottom of the page */ 
    background-color: #f2f2f2;
    color: #000;
    font-weight: 350;
}

.newsSection {
    padding-top: 0;
}

/* --------------------------------------------------------------*/
/* SEARCH PANEL */
/* --------------------------------------------------------------*/

.searchPanel { 
    width: 30%;
    margin: 0 auto;
    min-width: 290px;
}

.searchForm {
    margin-bottom: 30px;
}

/* --------------------------------------------------------------*/
/* News Items */
/* --------------------------------------------------------------*/

.newsPanel { 
    width: 50%;
    margin: 0 auto;
    min-width: 290px;
    background-color: #f2f2f2;
}

.newsPanel ul {
    padding-left: 0;
}

.newsPanelTitle {
    margin-top: 40px;
}

.mainNewsList {
    list-style: none;
}

.newsHeaderRow {
    padding-top: 20px;
}

.newsDate {
    font-size: 75%;
    font-weight: 310;
}

.newsTitle {
    color: #060050;
    font-size: 110%;
    font-weight: 500;
    padding-top: 5px;
}

.mainNewsDesc {
    font-size: 90%;
    font-weight: 300;
    padding-top: 10px;
}

.mainNewsDesc span a {
    margin-left: 5px;
    color: #060050;
    font-size: 90%;
    font-weight: 500;
}

/*.mainNewsDesc:after {
    display: block;
    height: 1px;
    background-color: #888;
    content: " ";
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
}*/

.newsImage img {
    width: 100%;
    margin-top: 30px;
    border: 2px solid #6a6a6a;
    margin-bottom: 40px;
}

.newsImageRow:after {
    display: block;
    height: 1px;
    background-color: #888;
    content: " ";
    width: 20%;
    margin: 0 auto;
    margin-top: 40px;
}


/* -------  Big tablets to 1200px (widths smaller than the 1140px row)  -------*/
@media only screen and (max-width: 1200px) {
    .newsPanel {width: 90%;}
}

/* -------  Small tablets to big tablets 768px to 1023px  -------*/
@media only screen and (max-width: 1023px) {
    .newsPanel {width: 90%;}
}

/* -------  Small phones to small tablets 481px to 767px  -------*/
@media only screen and (max-width: 767px) {

    /*.body { font-size: 7px; }*/
    /*h2 { font-size: 150%;  }*/
    .newsPanel {width: 100%;}
    .newsDescCol,
    .newsHeaderCol {padding: 0;}
    .newsImageCol {padding: 0;}
    /*.newsDescRow {margin: 0;}*/

    .newsImageRow:after {margin-top: 20px;}
    .newsImage img {margin-bottom: 10px;}
}